# Exclusive Folders #
/languages/**

# Folders #
**/bin/**
**/uploads/**

# Compiled source #
*.vmc.*
*.vmcompiled.*
*.mo

# Binaries #
*.jpg
*.png
*.ttf
*.eot
*.woff
*.woff2
*.otf
*.svg
*.gif
*.swf
*.wav

# Packages #
*.tar
*.zip
*.7z
*.rar
*.gzip
