h1 {
    margin-top: 3em;
}
.tier-text {
    font-size:  150%;
}
.card-body {
    overflow: hidden;
    overflow-y: auto;
    z-index: 0;
}
.card-title {
    font-family: bigJohn, sans-serif !important;
    text-align:  center;
}
.card-title span {
    padding: 1em;
    border: 2px #000 solid;
    border-radius: 20%;
    background-color:  #fff;
}
.card-text {
    margin-bottom: 4px;
}
#tvs-0 .card-body {
    background-color: #ab5252;
}
#tvs-1 .card-body {
    background-color: #e4e4e4;
}
#tvs-2 .card-body {
    background-color: #ddf4ff;
}
#tvs-3 .card-body {
    background-color: #f7db52;
}
#anime-ss-0 .card-body {
    background-color: #af9570;
}
#anime-ss-1 .card-body {
    background-color: #af9570;
}
#anime-ss-2 .card-body {
    background-color: #af9570;
}
#anime-ss-3 .card-body {
    background-color: #af9570;
}

.content {
    align-content: space-around;
}

.content .work {
    margin: 1em;
    padding: 4px;
    position: relative;
    background-color: #ffffffb3;
    font-size: 140%;
}

.content .work:after {
    background: url(../img/film.png) center/cover no-repeat, #fff;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (min-width: 768px) {
    .tier .img-div, .tier .txt-div {
        height: 100vh;
    }
}
@media (min-width: 1200px) {
    .card {
        height: 85vh;
        max-height: 500px;
    }
}
@media (min-width: 768px) and (max-width: 1199px ) {
    .card {
        height: 100vh;
        margin-bottom: 16px;
        max-height: 550px;
    }
}