@font-face {
    font-family: 'vmp-icons';
    src:  url('../fonts/vmp-icons.eot?y6s5x7');
    src:  url('../fonts/vmp-icons.eot?y6s5x7#iefix') format('embedded-opentype'),
    url('../fonts/vmp-icons.ttf?y6s5x7') format('truetype'),
    url('../fonts/vmp-icons.woff?y6s5x7') format('woff'),
    url('../fonts/vmp-icons.svg?y6s5x7#vmp-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vmp-icon"], [class*=" vmp-icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vmp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.vmp-icon-home3:before {content: "\e902";}
.vmp-icon-phone:before {content: "\e942";}
.vmp-icon-phone-hang-up:before {content: "\e943";}
.vmp-icon-user-tie:before {content: "\e976";}
.vmp-icon-briefcase:before {content: "\e9ae";}
.vmp-icon-menu:before {content: "\e9bd";}
.vmp-icon-cancel-circle:before {content: "\ea0d";}
.vmp-icon-cross:before {content: "\ea0f";}
.vmp-icon-stop2:before {content: "\ea1e";}
.vmp-icon-checkbox-unchecked:before {content: "\ea53";}
.vmp-icon-radio-checked:before {content: "\ea54";}
.vmp-icon-radio-checked2:before {content: "\ea55";}
.vmp-icon-radio-unchecked:before {content: "\ea56";}
.vmp-icon-mail4:before {content: "\ea86";}
.vmp-icon-instagram:before {content: "\ea92";}
